{% extends "Base.html"%}
{% block content %}
    <div class="container container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <form action="/update" method="post">
                <table>
                <tr>
                    <td> MOBILE NO. : </td>
                    <td><input type="text" name="phone" class="form-control" ></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class = "btn btn-danger" name="mno"> SEARCH </button></td>
                </tr>
            </table>
            </form>
            </div>
        </div>   
    </div>
{% endblock %}